---
layout: default
title: Home - Treehouse IITB
description: Treehouse IITB is a climate resilience research group at IIT Bombay led by Assistant Professor Jaideep Joshi.
keywords: climate resilience, IIT Bombay, Jaideep Joshi, Treehouse IITB, forest ecology
---

<div class="hero-section parallax button" id="cover-section">
    <div class="hero-text">
        <h2>The Treehouse, IIT Bombay</h2>
        <h1>Building climate-resilient human-natural systems</h1>
        <p>Welcome to the Terrestrial Ecosystems and Evolution House (Treehouse) research group at the Centre for Climate Studies, IIT Bombay. At Treehouse, we study how ecosystems adapt to climate change through a systems perspective. Applying the principles of natural selection, we explore ways to improve the adaptive capacity and climate-resilience of both natural and human-natural systems.</p>
        <button onclick="scrollToSection('section_research_themes')">Climb in</button>
    </div>
</div>

<div class="section theme1 button" id="section_research_themes">
    <h2>Research Themes</h2>
    <p>The research philosophy at Treehouse is to build bottom up towards climate resilience, i.e., first understanding how components of an ecosystem function, integrating those components to quantitatively predict emergent ecosystem behaviours, and using this knowledge to design the best course of climate action.     
        Research is strongly interdisciplinary, cutting across several fields and borrowing tools and techniques from each of them. It is organized under three core verticals as follows.</P>
    </p>
    <div class="card-container">
        {% for item in site.data.research %}
            {% include research-card.html 
                title=item.title 
                image=item.image 
                description=item.description %}
        {% endfor %}
    </div>
    <div class="button-container">
        <button onclick="scrollToSection('featured_project')">Featured projects</button>
        <button onclick="location.href='research.html'">Explore all projects</button>
    </div>
    <div class="spacer"></div> <!-- Add this line -->
</div>

<div class="section theme2 parallax" id="featured_project">
    <div class="featured-project-text" style="text-align: left; color: var(--theme-color);">
        <h2>Featured Project</h2>
        <h3>Plant-FATE</h3>
        <p>Plant-FATE is an eco-evolutionary vegetation model that accounts for the adaptations of individual plants, plant species, and multi-species communities to climate change at multiple temporal and organizational scales. The model integrates physiological, ecological, and evolutionary processes to predict the responses of vegetation to environmental changes.</p>
        <p>Key Features of PlantFATE include:</p>
        <ul>
            <li>Eco-evolutionary Optimality: Models short-term acclimation of physiological processes.</li>
            <li>Trait-based Functional Diversity: Uses a trait-based approach for functional diversity.</li>
            <li>Size-structured Competition: Recognizes size-dependent competition for resources.</li>
            <li>Community-level Trait Evolution: Predicts long-term evolution of species' genetic traits.</li>
        </ul>
        <p>Photo credit: Florian Hofhansl</p>
        <button onclick="location.href='https://iiasa.ac.at/models-tools-data/plantfate'">Learn more</button>
    </div>
</div>

<div class="section theme1 parallax">
    <h2>News</h2>

    {% for post in site.posts limit:5 %}
        <p>
            <b>{{ post.date | date: "%d %b %Y" }}</b>. 
            <a href="{{ post.url }}">{{ post.title }}</a>
        </p>
    {% endfor %}
</div>


