---
layout: default
title: People - Treehouse IITB
---

<div class="section people-section">
    <h2>Principal Investigator</h2>
    <div class="people-container">
        {% for person in site.data.people.pi %}
            {% include person-card.html 
                name=person.name 
                image=person.image 
                title=person.title 
                bio=person.bio 
                links=person.links
                role=person.role
                pi=true %}
        {% endfor %}
    </div>
</div>

<div class="filter-buttons">
    <button onclick="filterPeople('all')">All</button>
    <button onclick="filterPeople('phd')">PhD</button>
    <button onclick="filterPeople('postdoc')">Postdoc</button>
    <button onclick="filterPeople('intern')">Intern</button>
</div>

<div class="section people-section theme2">
    <h2>Current Team</h2>
    {% if site.data.people.team.size == 0 %}
        <p>None yet</p>
    {% endif %}
    <div class="people-container">
        {% for person in site.data.people.team %}
            {% include person-card.html 
                name=person.name 
                image=person.image 
                title=person.title 
                bio=person.bio 
                role=person.role
                links=person.links %}
        {% endfor %}
    </div>
</div>

<div class="section people-section">
    <h2>Co-supervised researchers (Current)</h2>
    {% if site.data.people.cosupervised_current.size == 0 %}
        <p>None yet</p>
    {% endif %}
    <div class="people-container">
        {% for person in site.data.people.cosupervised_current %}
            {% include person-card.html 
                name=person.name 
                image=person.image 
                title=person.title 
                bio=person.bio 
                role=person.role
                links=person.links %}
        {% endfor %}
    </div>
</div>

<div class="section people-section theme2">
    <h2>Alumni</h2>
    {% if site.data.people.alumni.size == 0 %}
        <p>None yet</p>
    {% endif %}
    <div class="people-container">
        {% for person in site.data.people.alumni %}
            {% include person-card.html 
                name=person.name 
                image=person.image 
                title=person.title 
                bio=person.bio 
                role=person.role
                links=person.links
                alumni=true %}
        {% endfor %}
    </div>
</div>

<!-- <div class="section people-section">
    <h2>Alumni (co-supervised)</h2>
    <div class="people-container">
        {% for person in site.data.people.cosupervised_alumni %}
            {% include person-card.html 
                name=person.name 
                image=person.image 
                title=person.title 
                bio=person.bio 
                role=person.role
                links=person.links
                alumni=true %}
        {% endfor %}
    </div>
</div> -->

<!-- Just to add space until footer -->
<div class="section people-section">
</div>

