.section {
  padding: 50px 5%; /* Add consistent padding for all content */
  text-align: left;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
}

.section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.section h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.section h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.section p {
  font-size: var(--p-font-size);
  line-height: 1.5;
  margin-bottom: 20px;
}
